<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Taco-Cloud</title>
	<link rel="stylesheet" th:href="@{/styles.css}"/>
</head>
<body>
<!--/*@thymesVar id="tacoOrder" type="org.example.tacocloud.Models.TacoOrder"*/-->
	<form method="POST" th:action="@{/orders}" th:object="${tacoOrder}">
		<h1>Order your taco creation</h1>
		
		<img th:src="@{/images/TacoCloud.jpg}" alt="">
		
		<h3>Your tacos are int this order:</h3>
		<a th:href="@{/design}" id="another">Design another taco</a>
		<ul>
			<li th:each="taco : ${tacoOrder.tacos}">
				<span th:text="${taco.name}">taco name</span>
			</li>
		</ul>
		
		<h3>Deliver my taco masterpiece to...</h3>
		<label>Name: </label>
		<input type="text" th:field="*{deliveryName}"/>
		<br/>
		
		<label>Street address: </label>
		<input type="text" th:field="*{deliveryStreet}"/>
		<br/>
		
		<label>City: </label>
		<input type="text" th:field="*{deliveryCity}"/>
		<br/>
		
		<label>State: </label>
		<input type="text" th:field="*{deliveryState}"/>
		<br/>
		
		<label>Zip code: </label>
		<input type="text" th:field="*{deliveryZip}"/>
		<br/>
		
		<h3>Here's how I'll pay...</h3>
		<label>Credit Card #: </label>
		<input type="text" th:field="*{ccNumber}"/>
		<br/>
		
		<label>Expiration: </label>
		<input type="text" th:field="*{ccExpiration}"/>
		<br/>
		
		<label>CVV: </label>
		<input type="text" th:field="*{ccCVV}"/>
		<br/>
		
		<input type="submit" value="Submit Order"/>
	</form>
</body>
</html>